body{
    background-color: #fff;
}
.cajaTitulos{
    height: 75px;
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    padding-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    color: #111;
}
.Tituloh1{
    text-align: center;
    font-size: 1.7rem;
    padding: 5px;
    margin-left: 25%;
    padding-right: 10px;
    color: #111;
    padding-top: 7px;
}


.Contactanos{
    flex-grow: 2;
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin-left: 15%;
    
}
.Wasap{
    margin-left: 60px;
    margin-top: 30px;
    width: auto;
    height: 40%;
    float: left;
}
.TitulosContactanos{
    
    flex-grow: 1;
    
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: 0.89s;
    float: left;
    

}
.cambioImg{
    background-image: url(Imagenes/Imagen1.webp);
    position: absolute;
    margin-top: 100px;
    left: 0%;
    right: 0%;
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100% ;
    height: 400px;
    background-color: #0001;
    transition: background-image 0.00000000000000000000001s ;
    
}
.image-transition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 1s ;
    
}

.image-enter-right {
    transform: translateX(100%);
    opacity: 0;
}

.image-enter-left {
    transform: translateX(-100%);
    opacity: 0;
}

.image-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.flechaDerecha{
    width: 50px;
    float: right;
    padding-top: 150px;
    transition: 0.2s;
    cursor: pointer;
}
.flechaDerecha:hover{
    width: 60px;
}
.flechaIzquierda{
    width: 50px;
    float: left;
   
    margin-top: 150px;
    transform: rotate(180deg);
    transition: 0.2s;
    cursor: pointer;
}
.flechaIzquierda:hover{
    width: 60px;
}
.caja-de-informacion{
    margin-top: 600px;
    width: 100%;
    height: 300px;
    float: left;
    left: 0%;
    right: 0%;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: #111;
}
#teamworkCaja{
    margin-left: 35%;
    width: 100px;
    height: 100px;
    text-align: center  ;
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#teamwork{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 35px;
}
#gestionCaja{
    margin-left: 55%;
    margin-top: -150px;
    width: 200px;
    height: 100px;
    text-align: center  ;
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#gestionTiempo{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 70px;
}

#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #ffd700;
    transition: width 5s linear;
}
#h2Servicios{
    font-size: 2.7rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cajaServicios{
    margin-top: 1000px;
    background-color: #0001;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #111;
}
#cajaImgServicio1{
    margin-left: 27%;
    width: 835px;
    height: 325px;
    background-image: url(Imagenes/imagenInfo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
#cajaImgServicio2{
    width:875px;
    height: 340px;
    background-image: url(Imagenes/imagenInfo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 26%;
    margin-top: 4%;
    border-radius: 10px;
}
