
body{
    background-color: #fff;
}
.cajaTitulos{
    height: 17%;
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    color: #111;
    font-weight: 300;
    box-shadow: 0 0 10px #999;

}
.Tituloh1{
    text-align: center;
    font-size: 1.6rem;
    padding: 5px;
    margin-left: 1%;
    padding-right: 10px;
    color: #111;
    padding-top: 7px;
    font-weight: 400;
}
.dimensionBanco{
    width: 10%;
    height: 70px;
    flex-grow: 1;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 15px;
    float: left;
    background-color: #666;
    color: #eee;
    border-radius: 20px;
    transition: 0.1s;
    cursor: pointer;
    
}
.dimensionBanco:hover{
    background-color: #fff;
    color: #111;
    border-color: #666;
    border-style: solid;
    border-width: 2px;
}
.titulos{
    
    flex-grow: 1;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.1s;
    float: left;
    cursor: pointer;
}
.titulos:hover{
    font-size: 1.65rem;
    border-bottom: 6px solid #999;
}
.iniciobtn{
    
    flex-grow: 1;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.1s;
    float: left;
    cursor: pointer;
}
.iniciobtn:hover{
    font-size: 1.65rem;
    border-bottom: 6px solid #999;
}
.cambioImg{
    background-image: url(Imagenes/Imagen1.webp);
    position: absolute;
    margin-top: 100px;
    left: 0%;
    right: 0%;
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100% ;
    height: 400px;
    background-color: #0001;
    transition: background-image 0.00000000000000000000001ms ;
    
}
.image-transition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 1s ;
    
}

.image-enter-right {
    transform: translateX(100%);
    opacity: 0;
}

.image-enter-left {
    transform: translateX(-100%);
    opacity: 0;
}

.image-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.flechaDerecha{
    width: 50px;
    float: right;
    padding-top: 150px;
    transition: 0.2s;
    cursor: pointer;
}
.flechaDerecha:hover{
    width: 60px;
}
.flechaIzquierda{
    width: 50px;
    float: left;
   
    margin-top: 150px;
    transform: rotate(180deg);
    transition: 0.2s;
    cursor: pointer;
}
.flechaIzquierda:hover{
    width: 60px;
}
.caja-de-informacion{
    margin-top: 600px;
    width: 100%;
    height: 300px;
    
    left: 0%;
    right: 0%;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: #111;
    
}
#h2Informacion{
    font-weight: 500;
}
#teamworkCaja{
    margin-left: 30%;
    width: 100px;
    height: 100px;
    text-align: center  ;
    font-size: 1.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#teamwork{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 45%;
}
#gestionCaja{
    margin-left: 55%;
    margin-top: -150px;
    width: 200px;
    height: 100px;
    text-align: center  ;
    font-size: 1.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#gestionTiempo{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 35%;
}

#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #ffd700;
    transition: width 5s linear;
}

.formulariocaja{
    width: 60%;
    height: auto ;
    margin-top: 120px;
    border: 2px solid #666;
    border-radius: 10px;
    margin-left: 3%;
}
.formulario{
    width: 90%;
    height: 25px;
    margin-top: 5%;
    margin-left: 5%;
    border-width: 1px;
    border-radius: 5px;
}

#formularioKD{
    width: 90%;
    height: 25px;
    margin-top: 30px;
    margin-left: 5%;
    border-width: 1px;
    border-radius: 5px;
}
#formulario2KD{
    width: 90%;
    height: 25px;
    margin-top: 30px;
    margin-left: 5%;
    border-width: 1px;
}
#formulariobtn{
    width: 200px;
    height: 35px;
    margin-top: 5%;
    margin-left: 5%;
    cursor: pointer;
    transition: 0.1s;
    border-width: 1px;
    background-color: #fff;
    float: left;
    border-radius: 5px;
}
#formulariobtn:hover{
    color: #eee;
    background-color: #666;
}
#formulariobtn2{
    width: 200px;
    height: 35px;
    margin-top: 5%;
    margin-left: 5%;
    cursor: pointer;
    transition: 0.1s;
    border-width: 1px;
    background-color: #fff;
    float: left;
    
}
#formulariobtn2:hover{
    color: #eee;
    background-color: #666;
}

#calculadora{
    margin-top: -0px;
    background-color: #666;
    color: #fff;
    width: 99%;
    height: 40px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: 9px solid #aaa;
    border-top-left-radius: 8px;
    border-top-right-radius: 10px;
    font-size: 1.2rem;
}
#formText{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5%;
    color: #666;
    font-size: 1rem;
    
}
#formText2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5%;
    color: #666;
    font-size: 1rem;
    margin-top: 4%;
}
.valoresText{
    margin-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666;
    font-size: 1rem;

}
#result{
    margin-left: 36%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5%;
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
}
.result-valid{
    background-color: #c0ffa2;
    color: #147500;
}
.result-invalid{
    background-color: #ffa2a2;
    color: #5a0000;
}
#resultCFE{
    margin-left: 36%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5%;
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    height: auto;
    padding-bottom: 7px;
    padding-top: 5px;
    text-align: center;
}
.resultCFE-valid{
    background-color: #c0ffa2;
    color: #147500;
}
.resultCFE-invalid{
    background-color: #ffa2a2;
    color: #5a0000;
}
#recibocfe{
    float: right;
    margin-top: -42%;
    margin-right: 3%;
}
#monthly-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#monthly-inputs > div {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

#monthly-inputs h3 {
    text-align: center;
    color: #2c3e50;
}

#monthly-inputs input[type="number"] {
    width: calc(100% - 10px);
    margin: 5px auto;
}
